body{
  min-width: 100vh;
}
/*CSS CONTAINER*/
#firstContainer{
  display: flex;
}
/*CSS SIDEBAR*/
.sidebar{
  display: flex;
  border: 1px solid;
  align-items: stretch;
}
/*BUTTONS SIDEBAR*/

/*CSS MAIN*/
.mainContainer{
  display: flex;
  border: 1px solid;
  align-items: stretch;
}